body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* overflow hidden is used to hide vertical scrollbar */
    overflow: hidden;
    background: linear-gradient(to bottom,
            #010a10 30%,
            #59230b 80%,
            #2f1107 100%);

}

.heading {
    margin: 2% auto;
    text-align: center;
}

.text {
    font-size: 48px;
    letter-spacing: 8px;
    font-weight: 900;
    font-family: "Bebas Neue", sans-serif;
    /* gradient flag color in text */
    background-image: -webkit-linear-gradient(315deg, #fd7f00, #fff, #146e0c);
    -webkit-background-clip: text;

    /* -webkit-text-stroke: 0.125px rgb(0, 0, 0); */
    background-clip: text;
    /* color is important & is set to transparent */
    color: transparent;
    background-size: 180% 180%;
    animation: flag-col 10s ease-in-out infinite;

}

@keyframes flag-col {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.flag-container {
    position: absolute;
    top: 45%;
    left: 45%;
    margin: 0;
    transform: translate(-50%, -35%);
    display: flex;
}

/* #flag-pole {
    width: 7px;
    height: 1000px;
    border-radius: 50px;
    background-color: #606660;
    box-shadow: -5px 0 3px inset rgba(255, 255, 255, 0);
} */

.flag {
    width: 800px;
    height: 450px;
    display: flex;
}

/* .flag-element {
    width: 5px;
    height: 5px;
    background-color: red;
    animation: vertical 1s ease-in-out infinite alternate;

} */




.flag-element {
    position: relative;
    background-size: 800px 100%;
    width: 1px;
    height: 100%;
    border-radius: 20px;
    display: inline-block;
    animation: vertical 1.6s ease-in-out infinite alternate;
    background: linear-gradient(to bottom, #f93, #f93 33.33%, white 33.33%, white 66.66%, #128807 66.66%);

}


@keyframes vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(calc(var(--displacement)*-1.5));
    }

    75% {
        transform: translateY(calc(var(--displacement)*1.5));
    }

}

.flag-ashok-chakra {
    width: 8.2rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: .3rem solid #008;
    position: relative;
    left: 50%;
    top: 36.5%;
    z-index: 10;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flag-inner-circle {
    width: 22px;
    height: 22px;
    background-color: #008;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.flag-ashok-chakra .spokeLine {
    height: 50%;
    width: 1.6rem;
    position: absolute;
    top: 0;
    margin: 0 auto;
    background: #008;
    /* rhombhus like shape */
    clip-path: polygon(50% 0%, 57% 25%, 50% 100%, 42% 25%);
    /* bend spokes with origin in bottom */
    transform-origin: bottom;
    background-size: cover;
}



/* rotate spokes deg=360 deg/ total no. of spokes(360/24=15deg) */

.flag-ashok-chakra .spokeLine {
    transform: rotate(15deg);
}

.spokeLine:nth-child(2) {
    transform: rotate(30deg);
}

.spokeLine:nth-child(3) {
    transform: rotate(45deg);
}

.spokeLine:nth-child(4) {
    transform: rotate(60deg);
}

.spokeLine:nth-child(5) {
    transform: rotate(75deg);
}

.spokeLine:nth-child(6) {
    transform: rotate(90deg);
}

.spokeLine:nth-child(7) {
    transform: rotate(105deg);
}

.spokeLine:nth-child(8) {
    transform: rotate(120deg);
}

.spokeLine:nth-child(9) {
    transform: rotate(135deg);
}

.spokeLine:nth-child(10) {
    transform: rotate(150deg);
}

.spokeLine:nth-child(11) {
    transform: rotate(165deg);
}

.spokeLine:nth-child(12) {
    transform: rotate(180deg);
}

.spokeLine:nth-child(13) {
    transform: rotate(195deg);
}

.spokeLine:nth-child(14) {
    transform: rotate(210deg);
}

.spokeLine:nth-child(15) {
    transform: rotate(225deg);
}

.spokeLine:nth-child(16) {
    transform: rotate(240deg);
}

.spokeLine:nth-child(17) {
    transform: rotate(255deg);
}

.spokeLine:nth-child(18) {
    transform: rotate(270deg);
}

.spokeLine:nth-child(19) {
    transform: rotate(285deg);
}

.spokeLine:nth-child(20) {
    transform: rotate(300deg);
}

.spokeLine:nth-child(21) {
    transform: rotate(315deg);
}

.spokeLine:nth-child(22) {
    transform: rotate(330deg);
}

.spokeLine:nth-child(23) {
    transform: rotate(345deg);
}

.spokeLine:nth-child(24) {
    transform: rotate(360deg);
}

.flag-inner-circle .semicircle {
    width: 5px;
    height: 53.2px;
    /* position related to flag-inner-circle */
    position: absolute;
    /* Both top & bottom can work fine , used for setting dots inside circumference */
    /* top:-77.75px; */
    bottom: 11.3px;
    /* dot set are actually same as spokes , need to bend them at bottom  */
    transform-origin: bottom;
    border: none;
    /* Applied only dotted border on top to these spans which will show a dot effect */
    border-top: 5px dotted #008;
    margin: 0 auto;
}

/* Rotate dots in such a way that each dots will end up  between two spokes.  pick a deg(9.5deg) and add 15deg to follow path.*/

.flag-inner-circle .semicircle {
    transform: rotate(7.5deg);
}

.semicircle:nth-child(2) {
    transform: rotate(22.5deg);
}

.semicircle:nth-child(3) {
    transform: rotate(37.5deg);
}

.semicircle:nth-child(4) {
    transform: rotate(52.5deg);
}

.semicircle:nth-child(5) {
    transform: rotate(67.5deg);
}

.semicircle:nth-child(6) {
    transform: rotate(82.5deg);
}

.semicircle:nth-child(7) {
    transform: rotate(97.5deg);
}

.semicircle:nth-child(8) {
    transform: rotate(112.5deg);
}

.semicircle:nth-child(9) {
    transform: rotate(127.5deg);
}

.semicircle:nth-child(10) {
    transform: rotate(142.5deg);
}

.semicircle:nth-child(11) {
    transform: rotate(157.5deg);
}

.semicircle:nth-child(12) {
    transform: rotate(172.5deg);
}

.semicircle:nth-child(13) {
    transform: rotate(187.5deg);
}

.semicircle:nth-child(14) {
    transform: rotate(202.5deg);
}

.semicircle:nth-child(15) {
    transform: rotate(217.5deg);
}

.semicircle:nth-child(16) {
    transform: rotate(232.5deg);
}

.semicircle:nth-child(17) {
    transform: rotate(247.5deg);
}

.semicircle:nth-child(18) {
    transform: rotate(262.5deg);
}

.semicircle:nth-child(19) {
    transform: rotate(277.5deg);
}

.semicircle:nth-child(20) {
    transform: rotate(292.5deg);
}

.semicircle:nth-child(21) {
    transform: rotate(307.5deg);
}

.semicircle:nth-child(22) {
    transform: rotate(322.5deg);
}

.semicircle:nth-child(23) {
    transform: rotate(337.5deg);
}

.semicircle:nth-child(24) {
    transform: rotate(352.5deg);
}

@media screen and (max-width: 450px) {

    .heading {
        margin: 5% auto;
    }

    .text {
        font-size: 2rem;
        font-weight: 900;
        width: 100%;
    }

    .flag-container {
        position: absolute;
        width: 100vw;
        top: 35%;
        left: 30%;
        transform: translate(-40%, -40%);
    }

    .flag {
        max-width: 100%;
        width: 425px;
        height: 275px;
        display: flex;
    }

    .flag-element {
        background-size: 425px 100%;
    }

    .flag-ashok-chakra {
        /* decreaing dimension of ashok-chakra w.r.t mobile viewport */
        width: 4.8rem;
        height: 4.1rem;
        border: .2rem solid #008;
    }

    .flag-inner-circle {
        /* decreaing dimension of inner-circle w.r.t mobile viewport */
        width: 15px;
        height: 15px;
    }

    .flag-ashok-chakra .spokeLine {
        /* decreaing dimension of spokes w.r.t mobile viewport */
        width: 1.1rem;
    }

    .flag-inner-circle .semicircle {
        /* decreaing dimension of dots w.r.t mobile viewport */
        width: 2px;
        height: 30px;
        /* position related to flag-inner-circle */
        position: absolute;
        /* Both top & bottom can work fine , used for setting dots inside circumference */
        /* top:-77.75px; */
        bottom: 7.37px;
        border-top: 4px dotted #008;
    }
}
